.centred {
  text-align: center;
}
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 38%;
}
.centred-darkmode{
  color:white;
  text-align: center;
}
.darkmode {
  color: white;
}

#username, #pass {
  border-radius: 20;
}
